{% block content %}

<div class="container">
    <h1>Dashboard</h1>
    <hr>

    <!-- Card deck -->
    <div class="card-deck">

      <!-- Card -->
      <div class="card mb-4">
        <div class="card-header" style="background:linear-gradient(to bottom, #0066ff 0%, #99ccff 100%)">
            <!--Title-->
            <h4 class="card-title">Total Orders</h4>
        </div>
        <!--Card content-->
        <div class="card-body">

            <!--Text-->
            <div class="text-center">
                <h1 class="card-title"><small>{{total_orders}}</small></h1>
            </div>

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">
        <div class="card-header" style="background:linear-gradient(to bottom, #0066ff 0%, #99ccff 100%)">
            <!--Title-->
            <h4 class="card-title">Orders Deliver</h4>
        </div>
        <!--Card content-->
        <div class="card-body">

            <!--Text-->
            <div class="text-center">
                <h1 class="card-title"><small>{{delivered}}</small></h1>
            </div>

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">
        <div class="card-header" style="background:linear-gradient(to bottom, #0066ff 0%, #99ccff 100%)">
            <!--Title-->
            <h4 class="card-title">Orders Pending</h4>
        </div>
        <!--Card content-->
        <div class="card-body">

            <!--Text-->
            <div class="text-center">
                <h1 class="card-title"><small>{{pending}}</small></h1>
            </div>

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->

    </div>
    <!-- Card deck -->
</div>


{% endblock %}